.button {
  font-family: 'Calibri';
  padding: 10px 30px;
  background-color: #7ba4c4;
  color: white;
  border: none;
  border-radius: 4px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}

.button:hover {
  background-color: #F2F2F0;
  color:black;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
  
.button-container {
  text-align: center; /* ממרכז אופקית */
  margin-top: 20px; /* מוסיף רווח מעל הכפתור */
}