.recommendationPage {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  align-items: column;
}

.recommendationPage h4 {
  margin-bottom: 16px;
  font-size: 2.8em;
}

.recommendationPage a {
  color: #007bff;
  text-decoration: none;
}

.relaxContainer {
  margin-top: 30px; /* רווח עליון */
}