.question-container {
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Calibri'; 
    font-size: 1.3em;
}

.select-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    font-family: 'Calibri'; 
    font-size: 1.0em;
}

.select-input option {
    cursor: pointer;
    font-size: 1.0em;
}

.submit-button {
    padding: 10px;
    margin-bottom: 90px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    font-family: 'Calibri'; 
    font-size: 1.3em;
}
