/* App.module.css */
.app {
  text-align: center;
}

.appHeader {
  background-color: #7ba4c4;
  padding: 5px 30px 5px 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appLogo {
  height: 100px;
}

.appNav {
  display: flex;
  gap: 20px;
}

.appLink {
  color: white;
  text-decoration: none;
  font-size: 1.4em;
}

.appLink:hover {
  text-decoration: underline;
}

.main {
  direction: rtl;
  background-color: white;
}

/*.footer {
  padding: 10px;
  background-color: #D4E6E8;
  color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}*/
  